BODY {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
  background: #ccc;
}

INPUT {
  outline: none;
}

.main_wrapper {
  max-width: 600px;
  padding: 20px 30px 20px 30px;
  margin: auto;
  box-sizing: border-box;
  vertical-align: top;
  box-shadow: 0 0 20px rgba(0,0,0,.3);
  background: #fff;
}
.left_panel {
}
.language_panel {
  display: none;
}
[data-language="rus"] .language_panel--rus {
  display: block;
}
[data-language="old"] .language_panel--old {
  display: block;
}
[data-language="rus"] .hints__desc .language_panel--rus {
  display: inline;
}
[data-language="old"] .hints__desc .language_panel--old {
  display: inline;
}
[data-language="rus"] .game__border .language_panel--rus {
  display: inline-block;
}
[data-language="old"] .game__border .language_panel--old {
  display: inline-block;
}
.header_line1,
.header_line2 {
  font-size: 20px;
  font-family: Georgia, serif;
  text-align: center;
}
.header_line1 {
  margin-bottom: 12px;
}
.header_line2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.header_language__switcher_wrapper {
  text-align: center;
  margin: 0 0 10px 0;
}
.header_language__switcher {
  color: #33c;
  cursor: pointer;
  border-bottom: 1px dotted #33c;
  user-select: none;
}
.how_to__wrapper {
  text-align: center;
  margin: 0 0 10px 0;
}
.how_to__about,
.how_to__switch {
  color: #33c;
  cursor: pointer;
  border-bottom: 1px dotted #33c;
  user-select: none;
}
.how_to__about_text,
.how_to__text {
  display: none;
  text-align: left;
  padding: 1px 10px;
  margin-top: 10px;
  background: #ccc;
}
.how_to__about_text p,
.how_to__text p {
  margin: 7px 0;
}
.how_to__wrapper--how_to .how_to__text {
  display: block;
}
.how_to__wrapper--how_to .how_to__switch,
.how_to__wrapper--about .how_to__about {
  color: #999;
  border-bottom-color: #999;
}
.how_to__about_text {
  display: none;
}
.how_to__wrapper--about .how_to__about_text {
  display: block;
}
.conditions__text {
}
.conditions__text p {
  font-size: 16px;
  line-height: 20px;
}
.conditions__list {
  width: 100%;
  font-size: 16px;
}
.hints__list {
  column-count: 2;
  column-width: 40%;
  font-size: 16px;
}
.hints__item {
  white-space: nowrap;
  margin: 0 0 10px 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.hints__number {
  display: table-cell;
  vertical-align: top;
  width: 23px;
  padding: 0 5px 0 0;
  text-align: right;
}
.hints__desc {
  display: table-cell;
  vertical-align: top;
  white-space: normal;
}
.hints__input_wrapper {
  padding: 5px 0 0 32px;
}
.hints__input {
  width: 100%;
  box-sizing: border-box;
  max-width: 100px;
  text-transform: uppercase;
  font-size: 16px;
}
.found__wrapper {
  display: none;
  font-size: 0;
  margin-top: 10px;
}
.found__header {
  font-size: 20px;
  text-align: center;
  margin: 0 0 10px 0;
}
.found__wrapper--visible {
  display: block;
}
.found__letter {
  width: 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  padding: 2px 0 2px 0;
  margin: 0 3px 3px 0;
  text-transform: uppercase;
  box-sizing: border-box;
  position: relative;
}
.found__letter::before {
  display: none;
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-top: 10px solid #aaa;
  border-left: 10px solid #aaa;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.found__letter::after {
  display: none;
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #bbb;
  border-bottom: 10px solid #bbb;
}
.found__letter--used::before { 
  display: block;
}
.found__letter--found::after { 
  display: block;
}
.found__letter_text {
  position: relative;
  z-index: 2;
}
.game__wrapper {
  margin-top: 30px;
  font-size: 0;
  vertical-align: top;
  position: relative;
}
.game__bg_wrapper {
  position: relative;
  text-align: center;
}
.game__bg {
  left: 25px;
  height: 380px;
}
.game__border {
  position: absolute;
  top: 90px;
  left: 50%;
  width: 350px;
  margin-left: -190px;
}
.letter__wrapper {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 0;
  margin: 0 0 3px 3px;
}
.letter__wrapper.language_panel {
  display: none;
}
.letter__wrapper::after {
  content: attr(data-type-error-message);
  position: absolute;
  display: none;
  padding: 2px 4px;
  border: 1px solid #999;
  background: #ccc;
  font-size: 12px;
  z-index: 3;
  white-space: nowrap;
}
.letter__wrapper--wrong_type::after {
  display: block;
}
.letter__wrapper:hover {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.5);
}
.letter__wrapper--focused {
  background: rgba(0,0,0,.1);
}
.letter__wrapper--changed {
  animation: 3s letter_changed;
}
.letter__wrapper--filled .letter__icon {
  display: none;
}
.letter__wrapper--focused .letter__icon {
  opacity: .3;
}
.letter__input {
  position: relative;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: none;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.letter__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
}
.letter__line {
  
}
.letter__line_11 {
  
}

.letter__wrapper[data-id="1"] .letter__icon {
  background-image: url(../img/letter1.svg);
}
.letter__wrapper[data-id="2"] .letter__icon {
  background-image: url(../img/letter2.svg);
}
.letter__wrapper[data-id="3"] .letter__icon {
  background-image: url(../img/letter3.svg);
}
.letter__wrapper[data-id="4"] .letter__icon {
  background-image: url(../img/letter4.svg);
}
.letter__wrapper[data-id="5"] .letter__icon {
  background-image: url(../img/letter5.svg);
}
.letter__wrapper[data-id="6"] .letter__icon {
  background-image: url(../img/letter6.svg);
}
.letter__wrapper[data-id="7"] .letter__icon {
  background-image: url(../img/letter7.svg);
}
.letter__wrapper[data-id="8"] .letter__icon {
  background-image: url(../img/letter8.svg);
}
.letter__wrapper[data-id="9"] .letter__icon {
  background-image: url(../img/letter9.svg);
}
.letter__wrapper[data-id="10"] .letter__icon {
  background-image: url(../img/letter10.svg);
}
.letter__wrapper[data-id="11"] .letter__icon {
  background-image: url(../img/letter11.svg);
}
.letter__wrapper[data-id="12"] .letter__icon {
  background-image: url(../img/letter12.svg);
}
.letter__wrapper[data-id="13"] .letter__icon {
  background-image: url(../img/letter13.svg);
}
.letter__wrapper[data-id="14"] .letter__icon {
  background-image: url(../img/letter14.svg);
}
.letter__wrapper[data-id="15"] .letter__icon {
  background-image: url(../img/letter15.svg);
}
.letter__wrapper[data-id="16"] .letter__icon {
  background-image: url(../img/letter16.svg);
}
.letter__wrapper[data-id="17"] .letter__icon {
  background-image: url(../img/letter17.svg);
}
.letter__wrapper[data-id="18"] .letter__icon {
  background-image: url(../img/letter18.svg);
}
.letter__wrapper[data-id="19"] .letter__icon {
  background-image: url(../img/letter19.svg);
}
.letter__wrapper[data-id="20"] .letter__icon {
  background-image: url(../img/letter20.svg);
}
.letter__wrapper[data-id="21"] .letter__icon {
  background-image: url(../img/letter21.svg);
}
.letter__wrapper[data-id="22"] .letter__icon {
  background-image: url(../img/letter22.svg);
}


@media screen and (max-width: 640px) {
  .conditions__text {
    padding: 0 20px 0 20px;
  }
  .hints__list {
    column-count: 1;
  }
  .found__letters {
    padding: 0 20px 0 20px;
  }
  .game__bg {
    height: 300px;
  }
  .game__border {
    top: 80px;
    width: 280px;
    margin-left: -150px;
  }
  .letter__wrapper {
    width: 25px;
    height: 25px;
  }
}


@media screen and (max-width: 500px) {
  .letter__wrapper {
    width: 22px;
    height: 22px;
    margin: 0;
  }
  .main_wrapper {
    padding: 10px;
  }
  .game__border {
    top: 60px;
    width: 220px;
    margin-left: -120px;
  }
  .game__bg {
    height: 240px;
  }
  .game__bg_wrapper {
    margin: 0 -10px 0 -10px;
  }
}


@keyframes letter_changed {
  0% {
    background: rgba(255,255,255,1);
  }
  10% {
    background: rgba(255,125,125,1);
  }
  90% {
    background: rgba(255,125,125,1);
  }
  100% {
    background: rgba(255,255,255,1);
  }
}